#palout {
    overflow: auto;
    max-height: 200px;
    max-width: 300px;
}

.basicFB {
font-weight: bold;
    font-size:large;
}
.boldRed {   
    color: red
}

.boldBlue { 
    color: blue
}

.boldGreen {
    color: green;
}

#fizzBuzzOut {
    max-height: 100px;
    overflow-y: auto;
}
